body {
    margin: 0;
}

main {
    display: grid;
    place-items: center;
    gap: 40px;
    padding: 40px;
    background-color: white;

}

.next {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin-top: 40px;
}

nav {
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 35px;
    padding: 20px;
    font-size: 18px;
}

.wrapper {
    display: grid;
    gap: 15px;
    place-items: center;
}

a,
h1,
h2,
h3,
h4 {
    text-decoration: none;
    user-select: none;
    margin: 0;
}

#canvas {
    background-color: #30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
}

#uniqCode {
    width: 150px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px solid black;
}

input {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}