body {
    margin: 0;
    font-family: "Tahoma", sans-serif;
    background-color: #404040;
    display: grid;
    place-items: center;
}

main {
    display: grid;
    place-items: center;
    gap: 40px;
    padding: 50px;
    background-color: white;
    border: 2px solid black;
}

.wrapper {
    display: grid;
    place-items: center;
    gap: 15px;
    place-items: center;
}

iframe {
    width: 100%;
    height: 1000px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

hr {
    width: 100%;
}

.final {
    width: 1000px;
    display: none;
}

/* global */
a,
h1,
h2,
h3,
h4 {
    text-decoration: none;
    user-select: none;
    margin: 0;
}

#canvas {
    background-color: #30c0df;
    border: 2px solid black;
    display: block;
    margin: auto;
}

#uniqCode {
    width: 150px;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    border: 2px solid black;
}

input {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
